@model IEnumerable<AMS.Models.User>
@{
    ViewData["Title"] = "Users";
}


<h2>Users</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<a asp-action="Create" class="btn btn-primary mb-3">Create New User</a>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Employee Id</th>
            <th>Username</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.EmployeeId</td>
                <td>@user.Username</td>
                <td>@user.Role</td>
                <td class="text-center">
              
                    <a class="btn btn-sm btn-outline-warning me-1" title="Change Password"
                       asp-area="Admin" asp-controller="User" asp-action="EditPassword" asp-route-id="@user.UserId">
                        🔐 Password
                    </a>

                    <a class="btn btn-sm btn-outline-danger" title="Delete"
                       asp-area="Admin" asp-controller="User" asp-action="Delete" asp-route-id="@user.UserId">
                        🗑️ Delete
                    </a>
                </td>

            </tr>
        }
    </tbody>
</table>

